<h1 class="titulo"> {{title}} </h1>


<div class="container">
  <h2>Calculadora de Edades</h2>

  <div class="form-group">
    <label for="edadUno">Edad Uno:</label>
    <input type="number" id="edadUno" [(ngModel)]="edadUno" class="form-control">
  </div>

  <div class="form-group">
    <label for="edadDos">Edad Dos:</label>
    <input type="number" id="edadDos" [(ngModel)]="edadDos" class="form-control">
  </div>

  <button (click)="calcular()" class="btn btn-primary">Calcular</button>
  <button (click)="limpiar()" class="btn btn-secondary">Limpiar cuadros de textos</button>

  <p>Suma: <input type="text" [(ngModel)]="suma" readonly class="form-control-plaintext"></p>
  <p>Promedio: <input type="text" [(ngModel)]="promedio" readonly class="form-control-plaintext"></p>
   
</div>


